@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif;
}

.user {
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate3d(20px, 70px, 0px);
}